/* = Get the kids
-------------------------------------------------------------- */

.child-thumb {
	float: left;
    position: relative;
    width:210px;
    margin-right: 40px;
    margin-top: 40px;
}

.child-thumb img{
	margin: 0px;
	border-radius: 8px;

}

.cat-bg {
	border-radius: 0 0 8px 8px;
	background: none repeat scroll 0 0 #444;
    bottom: 0;
    height: 30%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
}

.cat-title{
    color: white;
    position: absolute;
    top: 155px;
    left: 5px;
    right: 5px;     
}

.cat-title a{
    color: white;
     font-weight: bold;
     text-decoration: none;
     font-size:  1.1em;

}



/* =END Get the kids
-------------------------------------------------------------- */
